@charset "UTF-8";

#info-panel {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 5;
    background-color: white;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-family: sans-serif;
}
h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
}
p {
    margin: 5px 0;
}
